{% extends "base.html" %}

{% block content %}
  <main>
    <h1>Account</h1>
    <table>
      <thead>
        <th>Name</th>
        <th>Number</th>
        <th>Number of Receipts</th>
      </thead>
      <tbody>
        {% for account in account_object %}
          <tr>
            <td>{{ account.name }}</td>
            <td>{{ account.number }}</td>
            <td>{{ account.receipts.all|length }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </main>
{% endblock content %}
