{% extends "base.html" %}

{% block content %}
  <main>
    <h1>Categories</h1>
    <table>
      <thead>
        <th>Name</th>
        <th>Number of Receipts</th>
      </thead>
      <tbody>
        {% for category in category_object %}
          <tr>
                <td>{{ category.name }}</td>
                <td>{{ category.receipts.all|length }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </main>
{% endblock content %}
