{% extends "base.html" %}

{% block content %}
  <main>
    <h1>My Receipts</h1>
    <table>
      <thead>
        <th>Vendor</th>
        <th>Total</th>
        <th>Tax</th>
        <th>Date</th>
        <th>Category</th>
        <th>Account</th>
      </thead>
      <tbody>
        {% for receipt in receipt_object.all %}
          <tr>
            <!--vendor name of the receipt-->
            <td>{{ receipt.vendor }}</td>
            <!--total value from the receipt-->
            <td>{{ receipt.total }}</td>
            <!--tax value from receipt-->
            <td>{{ receipt.tax }}</td>
            <!--date value as m/d/YY (j/n/y)?-->
            <td>{{ receipt.date|date:"m/d/y" }}</td>
            <!--name of the receipt category-->
            <td>{{ receipt.category.name }}</td>
            <!--name of the account for the receipt-->
            <td>{{ receipt.account.name }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </main>
{% endblock content %}
